<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Final</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="scripts/app.js" defer></script>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <div class="container">
        <!--Below this line is the header-->
        <div class="row">
                <div class="col-md-12 bg-primary top">
                    <h4>Organizer</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bg-primary top">
                    <div class="buttons">
                        <a href="home.html">
                            <button class="btn btn-info btn-sm">Home</button>
                        </a>
                        <a href="news.html">
                            <button href="#" class="btn btn-sm about" type="submit" id="news">About</button> 
                        </a>
                        <a href="news.html">
                            <button href="#" class="btn btn-sm news" type="submit" id="news">News</button> 
                        </a>
                        <a href="map.html">
                            <button class="btn btn-sm map" type="submit" id="map">Map</button>
                        </a>
                        <a href="ipinfo.html">
                            <button class="btn btn-sm ipinfo" type="submit" id="ipinfo">IP Info</button>
                        </a>
                        <a href="ipinfo.html">
                            <button class="btn btn-sm ipinfo" type="submit" id="ipinfo">Logout</button>
                        </a>
                    </div>        
                </div>
            </div>
            <!--Above this line is the header-->
        <div class="row">
            <div class="col-md-12 header">
                <h3>News Room</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-height">
                <div class="news-even"></div>
            </div>
            <div class="col-md-6 col-sm-12 col-height">
                <div class="news-odd"></div>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 footer">
                <footer class="contents">
                    <p><i>Bijaya Manandhar</i></p>
                    <p>General Assembly, San Francisco,<b>WDI-49</b></p>
                    <p><a href="mailto:manandhar.bijaya@gmail.com">manandhar.bijaya@gmail.com</a>.</p>
                </footer>
            </div>
        </div>
    </div>
    <script src="scripts/news.js" type="text/javascript"></script> 
</body>

<!--
## My Organizer

<p>This web application is being created with the motivation of dfferent apps for reading news, to know weather condition and reading inspiring quotes from different famous people.</p>

<p>I had chosen this project as a requirement to complete the Web Developer Immersive programme at General Assembly, San Francisco that lasted from 10/29/2018 thru 02/05/2019</p>

### Features

<p>Basically, it consists of <u>HTML</U>, <u>CSS</u>, <u>Bootstrap library</u>, and <u>javaScript</u> on the front end part. <u>JQuery</u> library has widely been used in dealing with the data pulled from different API libraries.</p>

<p>It uses <u>NodeJS</u> as runtime and <u>ExpressJS</u> as the framework. In addition, <u>Jsonwebtoken</u>, <u>Body-parser</u>, and</u><u> bcrypt</u> modules are used on its back end.</p>

### Sources of data
<p>Mainly, three different API libraries are currently in use that provides data for:</p>

1. Current weather of the city user is curently in.<br>
[https://api.openweathermap.org]
1. Randomly generated inspiring quotes delivered by famous persons of the world.<br>
[https://forismatic.com/en/api/]
1. Current world news from US bublished by different US sources.
[https://newsapi.org/]
1. Geo location of the city where  the user recieves live internet service from. Iy includes zip code and IP address as well.<br>
[https://ipinfo.io/json] 

### User Story
__Sign-in__
<p>User is promted to a sign-in and sign-up page. A new user then can sign up by entering a valid email address and a password.</P>
<p>The returning user can log in and use the web application.</p>

__Home Page__
<p>In opening the home page, the user will be greeted with inspiring quotes with the author name. It will show up 'Anonymous' if the author name is unkonwn. The quote window has three different buttons, one to save the quote and author name in the data base, one for posting the quote direct to Face book's post-section, the third button allows user to post the same direct to Tweeter.</p>
<p>The saved data(quote) can be read in the future, or may be deleted if user wants.</p>

__Weather__
<p>Home page also provides the curent weather condition of the city. It includes current, minimum and maximum temperatures, atmosheric pressure, wind speed with direction, and local time of the city. Temperatures may be viewed either in Fahrenheit or Celsius by toggling a button.</p>

__News__
Navigating thru the Nav-bar, user can access to the news page, named 'News Room'. This page provides the latest world news that have been published by different news media of US. 

__Log Out__
Using the logout button, user can get out of the website with the quote saved in the data base for the future.
Hayward

### Images 
<p>Here are images of web application as displayed on the screen.</p>

* [Random](public/images/quote.png)
* [Weather](public/images/weather.png)
* [News](public/images/news.png)

## Future Feature

<p>Weather app may be enhanced to get weather info of any city of the world.</p>

<p>The news API used in this application may be manipulated for displaying news on the basis of catagory and country as required.</p>



-->