<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Final</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="scripts/app.js" defer></script>
    <link rel="stylesheet" href="styles/home.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="styles/about.css">
</head>
<body>
    <div class="container">
        <!--Below this line is the header-->
        <div class="row">
                <div class="col-md-12 bg-primary top">
                    <h4>Organizer</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bg-primary top">
                    <div class="buttons">
                        <a href="home.html">
                            <button class="btn btn-info btn-sm">Home</button>
                        </a>
                        <a href="news.html">
                            <button href="#" class="btn btn-sm about" type="submit" id="news">About</button> 
                        </a>
                        <a href="news.html">
                            <button href="#" class="btn btn-sm news" type="submit" id="news">News</button> 
                        </a>
                        <a href="map.html">
                            <button class="btn btn-sm map" type="submit" id="map">Map</button>
                        </a>
                        <a href="ipinfo.html">
                            <button class="btn btn-sm ipinfo" type="submit" id="ipinfo">IP Info</button>
                        </a>
                        <a href="ipinfo.html">
                            <button class="btn btn-sm ipinfo" type="submit" id="ipinfo">Logout</button>
                        </a>
                    </div>        
                </div>
            </div>
            <!--Above this line is the header-->
        <div class="row">
            <div class="col-md-6 col-sm-12 col-height about-left">
                <h3>About this website</h3>
                <div class="news-even">
                    <p>This web application is being created with the motivation of dfferent apps for reading news, to know weather condition and reading inspiring quotes from different famous people.</p>
                    <p>I had chosen this project as a requirement to complete the Web Developer Immersive programme at General Assembly, San Francisco that lasted from 10/29/2018 thru 02/05/2019</p>
                </div><hr>
                <div class="news-even">
                  <h3>Features</h3>
                    <p>Basically, it consists of <u>HTML</U>, <u>CSS</u>, <u>Bootstrap library</u>, and <u>javaScript</u> on the front end part. <u>JQuery</u> library has widely been used in dealing with the data pulled from different API libraries.</p>

                    <p>It uses <u>NodeJS</u> as runtime and <u>ExpressJS</u> as the framework. In addition, <u>Jsonwebtoken</u>, <u>Body-parser</u>, and</u><u> bcrypt</u> modules are used on its back end.</p>
                </div><hr>
                <div class="news-even">
                  <h3>Sources of data</h3>
                  <p>Mainly, four different API libraries are currently in use that provides data for:</p>
                  <ol>
                    <li>Randomly generated inspiring quotes delivered by famous persons of the world.</li>
                    <a href="https://forismatic.com/en/api/">Random Quote API</a>
                    <li>Current city weather.</li>
                    <a href="https://api.openweathermap.org">Open Weather Map API</a><br>
                    <li> Current world news from US bublished by different US sources.</li>
                    <a href="https://newsapi.org/">News API</a>
                    <li>The weather data is tracked following the geo location the city where the user is recieving internet service from.<br></li>
                    <a href="https://ipinfo.io/json">IP Provider API</a>
                    </ol>
                </div><hr>
                <div class="news-even">
                  <h3>Future Features</h3>
                  <p>Weather app may be enhanced to get weather info of any city of the world.</p>
                  <p>The news API used in this application may be manipulated for displaying news on the basis of catagory and country as required.</p>
                </div><hr>
                <div class="news-even">
                    <h3>Challenges</h3>
                    <ul>
                        <li>Login Authentication</li>                        
                        <li>Deployment to Heroku App</li>
                        <li>Server side coding</li>
                    </ul>
                  </div><hr>
            </div>
            <div class="col-md-6 col-sm-12 col-height about-right">
                <h3>Snapshot Images</h3><hr>
                <div class="news-odd">
                  <h4>Random Quote</h4>
                  <img src="images/quote.png" width="95%" alt="Random Quote"> 
                </div><hr>
                <div class="news-odd">
                    <h4>Weather and IP Info</h4>
                    <img src="images/weather_ip.png" width="95%" alt="Weather">
                </div><hr>
                <div class="news-odd">
                    <h4>News</h4>
                    <img src="images/news.png" width="95%" alt="News">
                </div><hr>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 footer">
                <footer class="contents">
                    <p><i>Bijaya Manandhar</i></p>
                    <p>General Assembly, San Francisco,<b>WDI-49</b></p>
                    <p><a href="mailto:manandhar.bijaya@gmail.com">manandhar.bijaya@gmail.com</a>.</p>
                </footer>
            </div>
        </div>
    </div>
</body>
