<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project {0} Porfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/home.css">

    <!--Google O Auth2 signIn
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    -->
</head>
<body>
    <div class="container">
        <div class="col-md-12 primary top">
            <!-- <div class="top primary"> -->
            <h1>Organizer {home.html}</h1>    
            <div class="text-center share">
                <a href="news.html">
                    <button href="#" class="btn btn-sm news" type="submit" id="news">News</button> 
                </a>
                <a href="map.html">
                    <button class="btn btn-sm map" type="submit" id="map">Map</button>
                </a><script src="scripts/index.js" type="text/javascript"></script>
                <button href="#" class="btn btn-sm phone" type="submit" id="phone">Phone</button> 
                <button href="#" class="btn btn-sm transit" type="submit" id="transit">Transit</button>
                <a href="weather.html">
                    <button class="btn btn-sm weather" type="submit" id="weather">Weather</button>
                </a>
                <a href="ipinfo.html">
                    <button class="btn btn-sm ipinfo" type="submit" id="ipinfo">IP Info</button>
                </a>
            </div>        
        <!-- </div> -->
        </div>
        <div class="col-md-12 main">
            <div class="quote-box">
                <div class="post">
                    <span>{Click for new quote}</span>
                    <span style="color:blue">Post to:</span>
                    <span href="#" class="facebook">Fbook/</span>
                    <span href="#" class="tweet">Tweet</span> 
                </div>
                <div class="quotes">
                    <span class="quote" method="post" action="/quote"></span><br/>
                    <span class="author" method="post" action="/author"></span>
                    <button class="btn btn-primary save-quote">save quote</button>
                    <button class="btn btn-danger save-quote">delete quote</button>
                </div>
            </div> 
            <br>
            <!-- <div class="text-center share">
                <a href="news.html">
                    <button href="#" class="btn btn-sm news" type="submit" id="news">News</button> 
                </a>
                <a href="map.html">
                    <button class="btn btn-sm map" type="submit" id="map">Map</button>
                </a><script src="scripts/index.js" type="text/javascript"></script>
                <button href="#" class="btn btn-sm phone" type="submit" id="phone">Phone</button> 
                <button href="#" class="btn btn-sm transit" type="submit" id="transit">Transit</button>
                <a href="weather.html">
                    <button class="btn btn-sm weather" type="submit" id="weather">Weather</button>
                </a>
                <a href="ipinfo.html">
                    <button class="btn btn-sm ipinfo" type="submit" id="ipinfo">IP Info</button>
                </a>
            </div> -->
        </div><br>  
        <!-- <h6>My Organizer</h6> -->
        </div>
    <!-- </div> -->     
</body>
</html>

<!--
    google button
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

-->