<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Final</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="scripts/app.js" defer></script>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div class="container">
        <!--Below this line is the header-->
        <div class="row">
            <div class="col-md-12 bg-primary top">
                <h4>Organizer</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bg-primary top">
              
            </div>
        </div>
        <!--Above this line is the header-->
        <div class="row">
            <div class="col-md-6 col-sm-12 left">
                <div class="sign-up-in-div">
                    <p>Please sign in.</p>
                    <form id="loginForm" class="show">
                        <p>Login</p>
                        <div>
                            <label for="loginEmail">Email</label>
                            <input id="loginEmail" type="text" name="email"/>
                        </div>
                        <div>
                            <label for="loginPassword">Password</label>
                            <input id="loginPassword" type="password" name="password"/>
                        </div>
                        <div>
                            <input type="submit" />
                        </div>
                    </form>
                </div>
        </div>
        <div class="col-md-6 col-sm-12 right">
                <div class="sign-up-in-div">
                    <p>If you don't have an account, please sign up</p>    
                    <form id="signupForm" class="show">
                    <p>Signup</p>
                    <div>
                        <label for="singupEmail">Email</label>
                        <input id="singupEmail" type="text" name="email"/>
                    </div>
                    <div>
                        <label for="signupPassword">Password</label>
                        <input id="signupPassword" type="password" name="password"/>
                    </div>
                    <div>
                        <input type="submit" />
                    </div>
                </form>  
            </div>  
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <footer>
                    <p><i>Bijaya Manandhar</i></p>
                    <p>General Assembly, San Francisco,<b>WDI-49</b></p>
                    <p><a href="mailto:someone@example.com">someone@example.com</a>.</p>
                </footer>
            </div>
        </div>
    </div>
    <script src="scripts/index.js" type="text/javascript"></script>
    <script src="scripts/weather.js" type="text/javascript"></script>     
</body>
</html>