<div class="sign-in-form">
    <form action="action_page.php" style="border:1px solid #ccc">     
        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="email" required><br>
    
        <label for="psw">Password</label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <div class="clearfix">
            <p class="cancel-btn">Cancel</p>
            <p type="submit" class="sign-in-btn">Sign In /</p>
        </div>
    </form>
</div>


<div class="sign-up-form">
    <form action="action_page.php" style="border:1px solid #ccc">     
        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="email" required><br>
    
        <label for="psw">Password</label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <label for="psw-repeat">Repeat Password</label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

        <div class="clearfix">
            <p class="cancel-btn">Cancel</p>
            <p type="submit" class="signup-btn">Sign Up /</p>
        </div>
    </form>
</div>

<div class="signIn">
    <p>Sign in please. If you don't have an account, please sing up.</p>
</div>
