<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project {0} Porfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/weather.css">
</head>
<body>
    <div class="container">
        <!--Below this line is header-->
        <div class="col-md-12 bg-primary top">
            <h1>Organizer</h1>    
            <div class="text-center share">
                <a href="home.html">
                    <button class="btn btn-sm">Home</button>
                </a>
                <a href="news.html">
                    <button href="#" class="btn btn-sm news" type="submit" id="news">News</button> 
                </a>
                <a href="map.html">
                    <button class="btn btn-sm map" type="submit" id="map">Map</button>
                </a><script src="scripts/index.js" type="text/javascript"></script>
                    <button href="#" class="btn btn-sm phone" type="submit" id="phone">Phone</button> 
                    <button href="#" class="btn btn-sm transit" type="submit" id="transit">Transit</button>
                <a href="weather.html">
                    <button class="btn btn-sm weather" type="submit" id="weather">Weather</button>
                </a>
                <a href="ipinfo.html">
                    <button class="btn btn-sm ipinfo" type="submit" id="ipinfo">IP Info</button>
                </a>
                <div id="yesToken" class="show">
                    <a id="logout" href="#"><b>Log Out</b></a>
                </div>
            </div>        
        </div>
<!--above this line is header-->
        <div class="weather-report">
            <p><a href="#" class="btn btn-default cf-btn"id="toggle">C/F</a></p>
            <p class="city">City name...</p>
            <p class="region-country"></p>
            <p class="temp">C/F</p>
        </div>
        <div class="weather-report">
            <p class="max"></p>
            <p class="min"></p>
            <p class="weather"></p>
            <p class="humidity"></p>
            <p class="pressure"></p>
            <p class="wind-speed"></p>
            <p class="wind-dir"></p>
            <p class="time"></p>
        </div>
    </div>
    <script src="scripts/weather.js" type="text/javascript"></script> 
</body>