.header {
  text-align: center;
  margin-top: 10px;
}
  
  .about-left {
    background-color: linen;
    border: 1px solid yellow;
  }

  .about-right {
    background-color: lightcyan
    border: 1px solid yellow;
  }

  .col-height {
    height: 550px;
    overflow: scroll;
  }