.top {
  position: fixed;
  height: 95px;
  top: 0; 
  width: 86.5%;
}


body {
  text-align: center;
}

/* .top {
  position: fixed;
  top: 0; 
  width: 100%;
  } */

.container {
  /* margin: 1px; */
  border: 1px solid yellow;
}

.share {
  float: right;
}

h3 {
  color: cornsilk;
  font-style: oblique;
}

.quote-box {
  display:flex;
  flex-direction:column-reverse;
  border-radius: 2px;
  margin: 10px 0; 
}

.quote {
  font-family: Times New Roman;
  font-size: 20px;
  cursor: pointer;
} 

.author {
  color: blue;
  font-style: italic;
  font-size: 15px;
}

.save-btns {
  float: left;
}
  
.post {
  align-self: flex-end;
} 
.link {
  color: blue;
}
  
.share {
  text-align: left;
}

.news{
  background-color: #34B3E8;
}

.map {
  background-color: #E41616;
}

.phone {
  background-color: goldenrod;
}
.transit {
  background-color: hotpink;
}
  
.weather {
    background-color: lightyellow;
}

.ipinfo {
  background-color: burlywood;
}

.save-data {
  background-color: lightblue;
  border: 1px solid red;
}