.top {
  height: 40px;
  text-align: center;
} 

.about{
  background-color: aqua;
}

.news{
  background-color: #34B3E8;
}

.map {
  background-color: lightblue;
}

.phone {
  background-color: goldenrod;
}
.transit {
  background-color: hotpink;
}
  
.weather {
    font-weight: bold;
}

.ipinfo {
  background-color: l;
}


.left {
  background-color: cadetblue;
  height: 575px;
  overflow: scroll;
}

.quote-box {
  display: flex;
  flex-direction: column-reverse;
  height: 35vh;
  background-color: lightyellow;
  margin: 2% 0 2% 0;
}

.quote-and-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2% 0 2%;
}

.buttons {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 7px;
}

.saved {
  background-color:  lightblue;
  border: 1px solid lemonchiffon;
  padding-left: 22px;
}

.save-data {
  padding-left: 20px;
  background-color: lightblue;
  border: 1px solid lemonchiffon;
}

.right {
  height: 575px;
  background-color: lightgrey;
  overflow: scroll;
}

.weather-report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px; 
} 

.cf-btn {
  background-color: lemonchiffon;
}

h4 {
  font-style: oblique;
}

.quote {
  font-family: Times New Roman;
  font-size: 20px;
  cursor: pointer;
} 

.author {
  color: lightcoral;
  font-style: italic;
  font-size: 15px;
  padding-bottom: 40px;
}

.save-btns {
  float: left;
}
  
.post {
  align-self: flex-end;
} 
.link {
  color: blue;
}
  
.share {
  text-align: right;
}

.weather-header {
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
}

.loc {
  display: flex;
}

.footer {
  height: 50px;
  background-color: lightsteelblue;
  padding-top: 10px;
}

.contents {
  display: flex;
  justify-items: center;
  justify-content: space-around;
}

