.header {
  padding-top: 15px;
  text-align: center;
  height: 60px;
}

.main {
  background-image: url("https://images.pexels.com/photos/1020317/pexels-photo-1020317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  text-align: center;
}

.show {
  /* display: none; */
}

.sign-in-up {
  text-align: center;
}

.one {
  text-align: center;
}

form {
  /* width: 50%; */
  width: 400px;
  line-height: 1.68em;
  text-align: center;
  padding: 2em;
  background-color: skyblue;
  border: 1px solid black;
  border-radius: 20px;
}


/*
.header {
  padding-top: 10px;
  height: 100px;
  border: 1px solid yellowgreen;
}

.sign-in-sign-up {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}

.buttons {
  display: flex;
}
.sign-in-form {
  /* display: none; */
  border: 1px solid red;
}

.sign-up-form {
  display: none;
  border: 1px solid yellowgreen;

}

.sign-form {
  display: flex;
  flex-direction: column;
  border: 1px solid peru;
}
