  .container {
    /* text-align: center; */
    background-color: blue;
    /* width: 380px;
    height: 550px; 
    margin: 1px; */
    border: 1px solid yellow;
  
  }

.news-content {
    /* height: 500px; */
    margin: 1px;
    border: 1px solid green;
    padding: 1px;
    background-color: lightyellow;
    overflow: scroll;
}