/* 

  header {
    height: 35px;
    background-color: yellow;
  } */
  /* .inner-container {
    border: 1px solid yellow; 
    padding: 1px;
    text-align: left;
    border-radius: 1px;
  } */

  /* .home-btn {
    background-color: yellow;
  } */
  .weather-report {
    background-color: burlywood;
  }


  .cf-btn {
    float: left;
    background-color: green;
  }
  
  /* .temp {
    text-align: center;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid greenyellow;
  } */