body {
    background-color: grey;
    width: auto;
    height: auto;
  }
  
  .container {
    text-align: center;
  }
  
  header {
    height: 35px;
    background-color: yellow;
  }
  .inner-container {
    width: 350px;
    width: 350px;
    height: auto;
    margin: 2px;
    border: 1px solid yellow;
    padding: 3px;
    text-align: left;
    border-radius: 5px;
    margin: 2px 0 0 10px; 
  }

  .home-btn {
    background-color: yellow;

  }
  
  .cf-btn {
    float: right;
    background-color: green;
  }
  
  .temp {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }